<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }
        
        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            width: 200px;
        }
        
        input[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        
        p {
            color: red;
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <%if(flag){%>
        <p>credentials doesn't match</p>
    <%}%>
    <form action="/" method="post"> 
        <input type="text" placeholder="username" name="name">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="enter">
    </form>
</body>
</html>
